#pic {
  position: absolute;
  top: 50px;
}

#express {
  position: absolute;
  top: 180px;
  width: 1000px;
}

* {
  font-family: YouYuan;

}


#hello {

  position: absolute;
  left: 1100px;
  top: 245px;
  font-size: 100px;

}