#pic {
  position: absolute;
  top: 50px;
}

#express {
  position: absolute;
  top: 180px;
  width: 1000px;
}

* {
  font-family: YouYuan;

}


#hello {
  width: 400px;
  height: 100%;
  position: absolute;
  left: 990px;
  top: 0px;
  font-size: 100px;
  background-color: aquamarine;
  opacity: 0.5;
  visibility: hidden;
}

#hello div {
  position: relative;
  color: blue;
  left: 20%;
  top: 25%;
}